<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Sing Along Manager</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['songs-page']">Songs</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['groups-page']">Groups</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['ratings-page']">Ratings</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link download-data-button" (click)="downloadData()">Download Data</a>
        </li>
    </ul>
</nav>
<div class="alert alert-danger main-error" [class.hide]="!errorMessage">{{errorMessage}}</div>
<div class="page-container">
    <router-outlet></router-outlet>
</div>
